body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Overpass", sans-serif;
  color: white;
}

.game-container {
  height: 100vh;

  .logo-esd {
    position: absolute;
    left: 60px;
    top: 60px;
    height: 30px;
    opacity: 0.7;
  }

  .regular-background {
    background-image: url("https://res.cloudinary.com/antoinebaptista/image/upload/v1747663518/esd-simple-background_ecbb70.jpg");
  }
  .golden-background {
    background-image: url("https://res.cloudinary.com/antoinebaptista/image/upload/v1747663518/esd-golden-background_deocjw.jpg");
  }
  .game {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .click-zone {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 75%;
      width: 500px;

      .green-counter {
        background-color: #86ed56;
      }
      .golden-counter {
        background-color: #fec804;
      }
      .counter-container {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-evenly;
        width: 150px;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 30px;

        .counter-img {
          height: 30px;
          width: 30px;
        }

        p {
          margin: 0;
          padding-top: 5px;
          font-size: 24px;
          font-weight: 800;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          text-align: center;
        }
      }

      .clicker {
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        align-self: center;
        width: 400px;
        height: 400px;
        border: 0;
      }
      .oreo {
        background-image: url("https://res.cloudinary.com/antoinebaptista/image/upload/v1747663518/esd-oreo_f0ttj2.png");
      }
      .golden-oreo {
        background-image: url("https://res.cloudinary.com/antoinebaptista/image/upload/v1747663518/esd-oreo-golden_o4ucsq.png");
      }

      .increase-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        text-align: center;
        height: 100px;
        width: 240px;
        background-color: rgba(0, 0, 0, 0.2);
        border: 3px solid #7beeff;
        border-radius: 5px;

        span {
          font-size: 30px;
          font-weight: 800;
          margin-bottom: 5px;
        }

        p {
          margin: 0;
        }
      }
      .blue {
        background-color: rgba(0, 0, 0, 0.2);
        border: 3px solid #7beeff;
      }
      .golden {
        background-color: white;
        border: 3px solid #ffca00;
        color: #ffca00;
      }

      .upgrade-clics {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;

        button {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 20px;
          height: 50px;
          width: 130px;
          background-image: linear-gradient(
            to bottom,
            #6fdefe 50%,
            #4ecaf0 50%
          );
          border: 0;
          border-radius: 5px;

          span {
            margin-top: 5px;
            font-size: 20px;
            font-weight: 600;
            font-family: "Overpass", sans-serif;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
            color: white;
          }

          .upgrade-img {
            height: 25px;
            width: 25px;
          }
        }
      }
    }

    .upgrades-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      height: 500px;
      width: 700px;
      background-color: rgba(white, 0.8);
      backdrop-filter: blur(10px);
      text-align: center;
      border-radius: 5px;
      h1 {
        font-size: 24px;
        font-weight: 900;
        color: #244daa;

        p {
          margin: 0;
        }
      }

      .upgrade {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;
        padding: 10px 30px;
        border-radius: 5px;
        height: 60px;
        width: 80%;
        background-color: #2a57aa;

        span {
          text-align: start;
          width: 300px;
          color: #5f86be;
          font-weight: 700;
          font-size: 13px;
        }

        p {
          margin: 5px 0 0 0;
          font-weight: 800;
          color: white;
          font-size: 18px;
        }

        button {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 50px;
          width: 130px;
          background-image: linear-gradient(
            to bottom,
            #fbc803 50%,
            #f9bd07 50%
          );
          border: 0;
          border-radius: 5px;
          font-size: 20px;
          font-weight: 600;
          font-family: "Overpass", sans-serif;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          color: white;

          img {
            margin-bottom: 5px;
            height: 25px;
            width: 25px;
          }
        }

        .bought {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 50px;
          width: 130px;
          background-color: #3d77e3;
          border-radius: 5px;
          font-size: 17px;
          font-weight: 800;

          color: white;
        }
      }
    }
  }
}
